.shopping-cart-container {
  width: 80%;
  margin: auto;
}

.cart-table {
  width: 100%;
}

.quantity-input {
  width: 40px;
}

.cart-summary {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .shopping-cart-container {
    width: 100%;
    padding: 10px;
  }

  .cart-table {
    font-size: 11px;
  }

  .quantity-input {
    width: 30px;
  }
  h1.carthaeding {
    font-size: 26px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
  .btn {
    font-size: 0.7rem;
  }
}


