#root {
  font-family: serif;
}

.container-fluid {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
.logonamefooter {
  font-size: 2rem;
  font-weight: 700;
  font-family: serif;
  color: #0d1b93;
  text-decoration: none;
}


.btn-outline-primary:hover {
  color: #fff;
  background-color: #fff !important;
  border-color: #007bff;
}
input.form-control.mr-sm-1.border {
  border-color: #007bff !important;
  color: black !important;
}

a.btn.btn-outline-secondary.mr-2.logincss {

  border-color: #007bff;
  font-weight: 600;
  color: #2c46b6;
  font-size: 14px;
  width: 65px;
}
a.btn.btn-outline-secondary.mr-2.sigincss {
  border-color: #007bff;
  font-weight: 600;
  font-size: 14px;
  color: #2c46b6;
  width: 78px;
}

a.btn.btn-outline-secondary.mr-2.logincss:hover {
  background-color: #0d1b93;
  color: #fff;
}
a.btn.btn-outline-secondary.mr-2.sigincss:hover {
  background-color: #0d1b93;
  color: #fff;
}

a.navbar-brand.navlogcss:hover {
  color: #0d1b93;
  font-weight: 700;
  font-size: 2rem;
}
a.navbar-brand.navlogcss {
  color: #2230b0;
  font-weight: 700;
  font-size: 2rem;
}

.navlinkcss {
  color: #2230b0;
}

/* CourseCard.css */

.course-card {
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* cardinstructor */

p.instructcss.card-text {
  margin-bottom: 0;
  font-size: 12px;
}

p.descriptioncss.card-text {
  margin-bottom: 0.3rem;
  line-height: 1.2rem;
}
.titlecss.card-title.h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
p.pricecss.card-text {
  font-weight: 600;
  color: #13137d;
}

/* 
///// dropdown css */
.nav-link {
  display: block;
  padding: 0;
}



/* card css */

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 250px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  height: 370px;
}

@media (max-width: 767px) {
  .form-inline {
    display: none !important;
  } 
}
a.navbar-brand.navlogcss {
  color: #2230b0;
  font-weight: 700;
  font-size: 1.7rem;
}


.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar-text {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}





